<body>
<h3 id="test">Simple <em>plugin</em> javascript like <em>jQuery</em></h3>
</body>
<script src="my.plugin.js"></script>
<script>
    $("#test").css({'color': 'red', 'font-size': "100px"});
    $("#test").wrap('p', '#title');
    $("#title").wrap('div', '.main');
    $(".main").css('background-color', 'black');
    console.log($.count(0));
</script>
